@tailwind base;

@layer base {
  body {
    @apply text-base md:text-lg list-disc list-inside leading-relaxed bg-gray-900 text-gray-100 font-inter text-white;
  }
  h1 {
    @apply text-4xl md:text-5xl font-bold tracking-tighter;
  }
  h2 {
    @apply text-3xl md:text-4xl font-bold tracking-tight;
  }
  h3 {
    @apply text-xl md:text-2xl font-bold tracking-tight;
  }
  h4 {
    @apply text-lg md:text-xl font-bold tracking-tight;
  }
  a {
    @apply text-white duration-100;
  }
  ul {
    @apply list-disc list-inside space-y-2;
  }
  ol {
    @apply list-decimal list-inside space-y-2;
  }
}

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal italic;
  font-weight: 400 700 900;
  font-display: swap;
  src: url('/fonts/Inter.var.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
  font-feature-settings: 'zero', 'ss01', 'ss03', 'calt';
}
